name: linux

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
    tags:
      - V**

jobs:
  ubuntu-2204:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.8.1'
          modules: 'qtserialport'
          aqtversion: '==3.1.20'

      - name: Install prerequisites
        run: |
          sudo apt update
          sudo apt install -y cmake build-essential clang-tidy 
      
      - name: Build
        run: |
          ./scripts/linux-build.sh
