name: macos

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
    tags:
      - V**

jobs:
  macos:
    runs-on: macos-15-intel

    steps:
      - uses: actions/checkout@v6

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.7.3'
          modules: 'qtwebsockets qtserialport qtmultimedia'
          aqtversion: '==3.1.20'

      - name: Install prerequisites
        run: |
          ruby - e  "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)" < /dev/null  2 > /dev/null
          brew install create-dmg utf8proc coreutils cmake pkg-config

      - name: Build
        run: |
          mkdir build && cd build
          cmake ..
          make -j8
