name: windows-msvc2022

on:
  push:
    branches: [ master ]
    tags:
      - 'V**'
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'BUILD.md'
      - 'CHANGELOG.md'

jobs:
  build:
    runs-on: windows-2022

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          arch: 'win64_msvc2019_64'
          version: '6.5.3'
          modules: 'qtserialport'
          aqtversion: '==3.1.7'

      - name: Install cmake
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install cmake --no-progress

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
          toolset: 14.29

      # 非 tag 推送：仅构建
      - name: Build Only
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        shell: pwsh
        run: |
          .\scripts\windows-build.ps1 -BuildOnly

      # tag 推送：构建 + 打包
      - name: Build and Package
        if: startsWith(github.ref, 'refs/tags/')
        shell: pwsh
        run: |
          .\scripts\windows-build.ps1 -Version "${{ github.ref_name }}"

      - name: Create Release and Upload
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.ZIP_NAME }}
          draft: false
          prerelease: false
          generate_release_notes: true
