name: windows-msvc2022

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
    tags:
      - V**

jobs:
  build:
    runs-on: windows-2022

    env:
      VCPKG_TARGET_TRIPLET: x64-windows

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          arch: 'win64_msvc2019_64'
          version: '6.5.3'
          modules: 'qtmultimedia'
          aqtversion: '==3.1.7'

      - name: Install cmake
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install cmake --no-progress

      - name: Install pkg-config
        run: choco install pkgconfiglite -y

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
          toolset: 14.29

      - name: Setup vcpkg and install deps
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitCommitId: '84bab45d415d22042bd0b9081aea57f362da3f35'
          runVcpkgInstall: true
          vcpkgJsonGlob: "vcpkg.json"

      - name: Build
        shell: pwsh
        run: |
          $env:Vcpkg_DIR = "${{ github.workspace }}/vcpkg"
          cmake -B build -S .
          cmake --build build --config Release
